Flask==3.1.1
Flask-Cors==5.0.0
minio==7.2.12
pysam==0.22.0
sqlalchemy==1.4.44
connexion==3.1.0
MarkupSafe==2.1.1
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@v2.7.3
candigv2-logging@git+https://github.com/CanDIG/candigv2-logging.git@v1.0.1
pytest==8.3.3
connexion[swagger-ui]
connexion[flask]
psycopg2-binary
watchdog~=4.0.0
gunicorn>=23.0.0
uvicorn[standard]==0.30.6
werkzeug>=3.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
